<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Niepi Symfony Blog{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->

    {% stylesheets
        '@BlogBundle/Resources/public/css/*' filter='?yui_css'
    %}
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>    
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{{ asset('bundles/blog/images/favicon.ico') }}">
    <link rel="apple-touch-icon" href="{{ asset('bundles/blog/images/apple-touch-icon.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('bundles/blog/images/apple-touch-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('bundles/blog/images/apple-touch-icon-114x114.png') }}">
  </head>

  <body>
        {% block navbar %}
            <div class="navbar navbar-fixed-top">
              <div class="navbar-inner">
                <div class="container">
                  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </a>
                  <a class="brand" href="{{ path('_blog') }}">Niepi Symfony Blog</a>
                  <p class="navbar-text pull-right">
                  {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                      {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                      <a href="{{ path('fos_user_security_logout') }}">
                          {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                      </a>
                  {% else %}
                      <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                  {% endif %}
                  </p>                  
                </div>
              </div>
            </div>
        {% endblock %}

        {% block content %}{% endblock %}



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

  {% javascripts
      '@BlogBundle/Resources/public/js/*' filter='?yui_js'
  %}
  <script src="{{ asset_url }}"></script>
  {% endjavascripts %}

  </body>
</html>